beautifulsoup4==4.12.2
Cartopy==0.21.1
certifi==2023.5.7
cftime==1.6.2
charset-normalizer==3.1.0
cmake==3.26.4
contourpy==1.1.0
cycler==0.11.0
filelock==3.12.2
fonttools==4.40.0
h5netcdf==1.2.0
h5py==3.9.0
histdata==1.1
idna==3.4
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
lightgbm==3.3.5
lit==16.0.6
lxml==4.9.2
MAPIE==0.7.0
MarkupSafe==2.1.3
matplotlib==3.7.1
mpmath==1.3.0
netCDF4==1.6.4
networkx==3.1
numpy==1.24.4
packaging==23.1
pandas==2.0.2
Pillow==9.5.0
pyparsing==3.1.0
pyproj==3.6.0
pyshp==2.3.1
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
scikit-learn==1.2.0
scipy==1.10.1
seaborn==0.12.2
shapely==2.0.1
six==1.16.0
sklearn-quantile==0.0.29
soupsieve==2.4.1
sympy==1.12
threadpoolctl==3.1.0
torch==2.0.1
tqdm==4.65.0
triton==2.0.0
typing_extensions==4.6.3
tzdata==2023.3
urllib3==2.0.3
xarray==2023.6.0
