beautifulsoup4==4.11.1
certifi==2022.9.24
charset-normalizer==2.1.1
colorama==0.4.4
cycler==0.11.0
cython==0.29.32
fonttools==4.37.4
histdata @ git+https://github.com/philipperemy/FX-1-Minute-Data.git@43c34ba
idna==3.4
jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
lightgbm==3.3.2
lxml==4.9.1
matplotlib==3.6.0
mpmath==1.2.1
numpy==1.22.4
packaging==21.3
pandas==1.5.0
patsy==0.5.2
pillow==9.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.4
requests==2.28.1
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.12.0
setuptools-scm==7.0.5
six==1.16.0
sklearn-quantile==0.0.19
soupsieve==2.3.1
sympy==1.11.1
threadpoolctl==3.1.0
torch==1.12.1
tqdm==4.64.1
urllib3==1.26.11
